<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Controller</servlet-name>
  	<display-name>Controller</display-name>
  	<description></description>
  	<servlet-class>com.loki.controller.Controller</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DemoController</display-name>
  	<servlet-name>DemoController</servlet-name>
  	<servlet-class>com.loki.controller.DemoController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoginController</display-name>
  	<servlet-name>LoginController</servlet-name>
  	<servlet-class>com.loki.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LogoutController</display-name>
  	<servlet-name>LogoutController</servlet-name>
  	<servlet-class>com.loki.controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddStudentController</display-name>
  	<servlet-name>AddStudentController</servlet-name>
  	<servlet-class>com.loki.controller.AddStudentController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteController</display-name>
  	<servlet-name>DeleteController</servlet-name>
  	<servlet-class>com.loki.controller.DeleteController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateName</display-name>
  	<servlet-name>UpdateName</servlet-name>
  	<servlet-class>com.loki.controller.UpdateName</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateEmail</display-name>
  	<servlet-name>UpdateEmail</servlet-name>
  	<servlet-class>com.loki.controller.UpdateEmail</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdatePhone</display-name>
  	<servlet-name>UpdatePhone</servlet-name>
  	<servlet-class>com.loki.controller.UpdatePhone</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateDepartment</display-name>
  	<servlet-name>UpdateDepartment</servlet-name>
  	<servlet-class>com.loki.controller.UpdateDepartment</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewController</display-name>
  	<servlet-name>ViewController</servlet-name>
  	<servlet-class>com.loki.controller.ViewController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/getCont</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DemoController</servlet-name>
  	<url-pattern>/DemoController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStudentController</servlet-name>
  	<url-pattern>/AddStudentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteController</servlet-name>
  	<url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateName</servlet-name>
  	<url-pattern>/UpdateName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmail</servlet-name>
  	<url-pattern>/UpdateEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePhone</servlet-name>
  	<url-pattern>/UpdatePhone</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDepartment</servlet-name>
  	<url-pattern>/UpdateDepartment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewController</servlet-name>
  	<url-pattern>/ViewController</url-pattern>
  </servlet-mapping>
</web-app>
